---
layout: page
---

{{ content }}

{% assign posts = site.tags.featured %}

<div class="carousel-track">
  {% for post in site.posts %}
  <div class="article-card">
    <a href="{{ post.url | absolute_url }}">
      {% if post.thumbnail-img %}
      <img src="{{ post.thumbnail-img | absolute_url }}" class="article-thumb">
      {% endif %}
      <h3 class="article-title">{{ post.title }}</h3>
      {% if post.subtitle %}
      <p class="article-subtitle">{{ post.subtitle }}</p>
      {% endif %}
    </a>
  </div>
  {% endfor %}
</div>
