---
layout: page
---

{{ content }}

{% assign posts = site.tags.featured %}

<div class="carousel-track">
  {% for post in site.posts %}
  <div class="article-card">
    <a href="{{ post.url | absolute_url }}">
      {% if post.thumbnail-img %}
      <img src="{{ post.thumbnail-img | absolute_url }}" class="article-thumb">
      {% endif %}
      <h3 class="article-title">{{ post.title }}</h3>
      {% if post.subtitle %}
      <p class="article-subtitle">{{ post.subtitle }}</p>
      {% endif %}
    </a>
    <div class="post-entry">
        {% assign excerpt_length = site.excerpt_length | default: 50 %}
        {{ post.excerpt | strip_html | truncatewords: excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > excerpt_length %}
          <a href="{{ post.url | absolute_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
  </div>
  {% endfor %}
</div>
